<%= form_for @location do |f| %>

<div class="form_group">
  <%= f.label :name, class: "control-label col-md-2" %>
  <%= f.text_field :name, class: "col-md-4" %> <br>
</div>
<br>
<div class="form_group">
  <%= f.label :address, class: "control-label col-md-2" %>
  <%= f.text_field :address, class: "col-md-4" %> <br>
</div>
<br>
<div class="form_group">
  <%= f.label :zipcode, class: "control-label col-md-2" %>
  <%= f.text_field :zipcode, class: "col-md-4" %> <br>
</div>
<br>

<div class="form-group">
<%= f.submit class:"btn btn-primary col-md-offset-2"%>
<%= link_to 'Cancel', locations_path, class:"btn btn-default" %>
</div>

<% end %>
